body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

#summary-container {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
    resize: vertical;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.card-header {
    background-color: #ffffff;
    border-bottom: none;
    font-weight: 500;
    font-size: 1.25rem;
    border-radius: 1rem 1rem 0 0;
}

.card-body {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    overflow-wrap: break-word;
    overflow-x: clip;
}

.btn {
    font-weight: 500;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #1c7ed6;
    border-color: #1c7ed6;
}

.btn-primary:hover {
    background-color: #1971c2;
    border-color: #1971c2;
}

.input-group-text {
    font-weight: 500;
    border-radius: 1rem;
}

.form-control {
    border-radius: 1rem;
}

.spinner-border {
    width: 2rem;
    height: 2rem;
}

.title-container {
    display: inline-block;
    padding: 0.25rem 0;
    border-bottom: 2px solid #333;
    margin-bottom: 1rem;
}

.container {
    margin-bottom: 6rem; 
}



@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f5f5f5;
    }

    .card {
        background-color: #434343;
    }

    .card-header {
        background-color: #434343;
    }

    .card-body {
        background-color: #434343;
    }

    .title-container {
        border-color: #f5f5f5;
    }
}
