<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>Document Summarizer</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-5">
                    <div class="card-header">
                        briefly
                    </div>
                    <div class="card-body">
                        <form id="upload-form">
                            <div class="form-group">
                                <!-- <label for="pdf_file" id="pdfUploadLabel" class="upload-button">Upload PDF</label>
                                <input type="file" class="form-control-file" id="pdf_file" name="pdf_file" accept="application/pdf"> -->
                                <input type="file" name="pdfUpload" id="pdfUpload" accept="application/pdf" hidden>
                                <label for="pdfUpload" id="pdfUploadLabel" class="upload-button">
                                    Upload PDF
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="user_information">User Information</label>
                                <input type="text" class="form-control" id="user_information" name="user_information" placeholder="Enter user information">
                            </div>
                            <div class="form-group">
                                <label for="summary_details">What type of summary would you like?</label>
                                <input type="text" class="form-control" id="summary_details" name="summary_details" placeholder="Summary details">
                            </div>
                            <div class="form-group">
                                <label for="extras">Anything you want as well as the summary?</label>
                                <input type="text" class="form-control" id="extras" name="extras" placeholder="Extras...">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Generate Summary</button>
                            <div class="text-center mt-3" id="loading" style="display: none;">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mt-5" id="summary-card" style="display: none; width: 100%;">
                    <div class="card-headers">
                        Summary
                    </div>
                    <div class="card-body">
                        <div id="summary-container"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
